extends pug/layout/main
block variables_layout
    -
        let title = 'catalog'
        let curPage = '/basket';

block content
    main.main.about
        .container
            .about-wrapper
                .about__logo
                    a(href="/" class="about__logo-link")
                        img(src=require(`./assets/img/svg/logo.svg`) class='img-full' alt='Логотип')
                    p Holy Grail
                .about__info
                    .title About the project
                    .text Holy Grail is created as a final studying assignment for the RSSchool JS/Front-end course, completed by asimo-git, vladimirovicp, and svorokhobina.
                    .text The project's primary purpose is to design a detailed, true-to-life imitation of real e-commerce applications, where visitors could quickly and effortlessly browse, select, and order preferred products from the available range. Among the implemented features, the application includes customer registration and authorisation forms and a shop catalogue with filtering, sorting, and searching functions. Customers are able to view the detailed item descriptions or move to the product pages for more information, add the chosen items to the cart, and proceed to checkout to finalise their orders. The application is designed using Commercetools, one of the leading cloud-based commerce platforms.
                .about__logo-rs
                    a(href="https://rs.school/courses/javascript-ru" class="logo-rs__link")
                        img(src=require('./assets/img/svg/rs.svg') class='img-full' alt='logo rs')
            .about__persons
                .about__person 
                    .about__person-img
                        img(src=require('./assets/img/person/rina.png') class='img-full' alt='logo rs')
                    .about__person-content
                        .about__person-title
                            .name Ekaterina Kovaleva
                            .role software developer
                        .about__person-github
                            a(href="https://github.com/asimo-git" target="_balnk") github.com/asimo-git    
                        .about__person-info Top performing IT professional with 10 years’ successful experience in Information Technology field. Proficient in hardware and software maintenance. Solid track record of providing the timely positive response to requests regarding computer-related assistance. A deep understanding of the general organizational confidentiality policies associated with IT specialist position.
                .about__person 
                    .about__person-img.img__ver-2
                        img(src=require('./assets/img/person/petr.png') class='img-full' alt='logo rs')
                    .about__person-content
                        .about__person-title
                            .name Petr Fadeev
                            .role UI/UX Designer 
                        .about__person-github
                            a(href="https://github.com/vladimirovicp" target="_balnk") github.com/vladimirovicp   
                        .about__person-info Top performing IT professional with 10 years’ successful experience in Information Technology field. Proficient in hardware and software maintenance. Solid track record of providing the timely positive response to requests regarding computer-related assistance. A deep understanding of the general organizational confidentiality policies associated with IT specialist position.
                .about__person 
                    .about__person-img.img__ver-3
                        img(src=require('./assets/img/person/sveta.png') class='img-full' alt='logo rs')
                    .about__person-content
                        .about__person-title
                            .name Svetlana Vorokhobina
                            .role Team Lead
                        .about__person-github
                            a(href="https://github.com/svorokhobina" target="_balnk") github.com/svorokhobina    
                        .about__person-info Top performing IT professional with 10 years’ successful experience in Information Technology field. Proficient in hardware and software maintenance. Solid track record of providing the timely positive response to requests regarding computer-related assistance. A deep understanding of the general organizational confidentiality policies associated with IT specialist position.