extends pug/layout/main
block variables_layout
    -
        let title = 'catalog'
        let curPage = '/catalog/page';

block content
    main.main.catalog-product
        .container
            .catalog-page__slider
                .swiper-carousel__wrapper
                    .swiper.swiper-carousel(thumbsSlider="")
                        .swiper-wrapper
                            .swiper-slide
                                img(src=require(`./assets/img/catalog/1.png`) class="img-full" alt='???')
                            .swiper-slide 
                                img(src=require(`./assets/img/catalog/1.png`) class="img-full" alt='???')
                            .swiper-slide
                                img(src=require(`./assets/img/catalog/1.png`) class="img-full" alt='???')
                            .swiper-slide
                                img(src=require(`./assets/img/catalog/1.png`) class="img-full" alt='???')
                            .swiper-slide
                                img(src=require(`./assets/img/catalog/1.png`) class="img-full" alt='???')
                    .swiper-general__button-prev
                    .swiper-general__button-next
                .swiper.swiper-general
                    .swiper-wrapper
                        .swiper-slide
                             a(href="#" class='open-modal open-modal__standart')
                                img(src=require(`./assets/img/catalog/1max.jpg`) class="img-full" alt='???')
                        .swiper-slide 
                            a(href="#" class='open-modal open-modal__standart')
                                img(src=require(`./assets/img/catalog/1max.jpg`) class="img-full" alt='???')
                        .swiper-slide
                            a(href="#" class='open-modal open-modal__standart')
                                img(src=require(`./assets/img/catalog/1max.jpg`) class="img-full" alt='???')
                        .swiper-slide
                            a(href="#" class='open-modal open-modal__standart')
                                img(src=require(`./assets/img/catalog/1max.jpg`) class="img-full" alt='???')
                        .swiper-slide
                            a(href="#" class='open-modal open-modal__standart')
                                img(src=require(`./assets/img/catalog/1max.jpg`) class="img-full" alt='???')

            .catalog-page__info
                .catalog-page__title Merida Big Seven 10MD Hardtail Mountain Bike Race Red/White
                .catalog-page__text
                    p The ultimate commuter and trail bike, the Bighorn S cruises with throttle assist up to 45km/hr and is one of the best climbers on the market. The fully integrated 48v 14Ah battery can give you over 100km on pedal assist, while the SRAM 10 speed drivetrain provides smooth shifting and reliable performance. A 100mm travel lockout Suntour XCM front fork offers the perfect amount of suspension. The new Dapu MD250 48V 300-watt mid-drive motor can produce up to an astounding 100nm of torque and has a throttle which can be activated from 0km/r. Coming with a rear carrier, bottle holder, full fenders and dual lights the Bighorn S makes for a great universal option from town to trails and beyond.
                .catalog-page__title Key features
                .catalog-page__text
                    ul
                        li Versatile frame perfect for commuting and rail trail
                        li Suntour XCM 100mm fork with Lockout
                        li    Dapu MD250 48V 300Watt, 100Nm torque
                        li    Thumb Left hand Throttle, activated at 0km/hr (can be removed)
                        li    Large 672Wh Samsung Battery, 48v, 14Ah
                        li    Assist speeds up to 45km/hr
                        li    Range 35km Throttle only, 60-120+km Pedal Assist
                        li    Shimano Deore 1 x 10 speed drivetrain
                        li   Tektro Hydraulic Disc Brakes
                        li    27.5” wheels size MD, 29” for LG and XL
            .catalog-page__price
                .catalog-page__price-wrapper
                    .catalog-page__price-discount $ 3 447
                    .catalog-page__price-old $ 5 324
                .catalog-page__btn
                    button.btn-default Into a basket

        .modal.modal__standart
            span.modal__close.modal-close__standart
            .modal__content
                .swiper.swiper-popup
                    .swiper-wrapper
                        .swiper-slide
                            img(src=require(`./assets/img/catalog/1max.jpg`) class="img-full" alt='???')
                        .swiper-slide 
                            img(src=require(`./assets/img/catalog/1max.jpg`) class="img-full" alt='???')
                        .swiper-slide
                            img(src=require(`./assets/img/catalog/1max.jpg`) class="img-full" alt='???')
                        .swiper-slide
                            img(src=require(`./assets/img/catalog/1max.jpg`) class="img-full" alt='???')
                        .swiper-slide
                            img(src=require(`./assets/img/catalog/1max.jpg`) class="img-full" alt='???')
            .swiper-popup__button-prev
            .swiper-popup__button-next
                    